@mixin flex {
    display: flex;
    justify-content: space-between;

}
@mixin flex-around {
    display: flex;
    justify-content: space-around;
}
*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
.container_the_first_screen{
    width: 1440px;
    margin: 0 auto;
    height: 1024px;
}
body{
    background: linear-gradient(111.39deg, #E9F3FD 12.37%, rgba(229, 229, 254, 0.5) 53.12%, #E9F3FD 89.83%);
backdrop-filter: blur(5px);
}
.header_top {
    width: 500px;
    @include flex();
    padding-top: 53px ;
}
header img{
    padding-top: 30px;
}
.header_top li a {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #000;
}
.header_top li a:hover {
    color: #DF1616;
}
header {
    @include flex();
}
.icons_header{
    padding-top: 58px;
}
.gg-search {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 16px;
    height: 16px;
    border: 2px solid;
    border-radius: 100%;
    color: #000;
  }
  
.gg-search::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    width: 2px;
    height: 8px;
    background: currentColor;
    transform: rotate(-45deg);
    top: 10px;
    left: 12px
}
.gg-shopping-cart {
    display: block;
    box-sizing: border-box;
    position: relative;
    transform: scale(var(--ggs,1));
    width: 20px;
    height: 21px;
    color: #000;
    background:
    linear-gradient(
    to left,currentColor 12px,
    transparent 0)
    no-repeat -1px 6px/18px 2px,
    linear-gradient(
    to left,currentColor 12px,
    transparent 0)
    no-repeat 6px 14px/11px 2px,
    linear-gradient(
    to left,currentColor 12px,
    transparent 0)
    no-repeat 0 2px/4px 2px,
    radial-gradient(
    circle,currentColor 60%,
    transparent 40%)
    no-repeat 12px 17px/4px 4px,
    radial-gradient(
    circle,currentColor 60%,
    transparent 40%)
    no-repeat 6px 17px/4px 4px
   }
   
   .gg-shopping-cart::after,
   .gg-shopping-cart::before {
    content: "";
    display: block;
    position: absolute;
    box-sizing: border-box;
    width: 2px;
    height: 14px;
    background: currentColor;
    top: 2px;
    left: 4px;
    transform: skew(12deg)
   }
   
   .gg-shopping-cart::after {
    height: 10px;
    top: 6px;
    left: 16px;
    transform: skew(-12deg)
   } 
   .gg-user {
    display: block;
    transform: scale(var(--ggs,1));
    box-sizing: border-box;
    width: 12px;
    height: 18px;
    color: #000;
    
}
.gg-user::after,
.gg-user::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border: 2px solid
}
.gg-user::before {
    width: 8px;
    height: 8px;
    border-radius: 30px;
    top: 0;
    left: 2px
}
.gg-user::after {
    width: 12px;
    height: 9px;
    border-bottom: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    top: 9px
}
.icons_header {
    width: 200px;
    @include flex();
}

.large-text{
    width: 666px;
    padding-top: 108px;
    padding-bottom: 20px;
}
.large-text {
    font-weight: 700;
    font-size: 96px;
}
.color-text-pink{
    color: rgba(236, 96, 131, 1);
}
.text-food-small  {
    font-weight: 400;
    font-size: 24px;
    width: 456px;
}
button{
    width: 230px;
    height: 65px;
    background-color: #EC6083;
    border-radius: 40px;
    border: none;
    margin-top: 42px;
}
button a{
    font-weight: 500;
    font-size: 24px; 
    color: #000;
}
main{
    @include flex();
}
.container-the-secons-screen{
    width: 1440px;
    margin: 0 auto;
}
.preview{
    color: rgba(236, 96, 131, 1);
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
}
.title-second-screen{
   
    display: flex;
  justify-content: center;
}
.title-second-screen h1{
     width: 444px;
    font-weight: 700;
font-size: 48px;
text-align: center;
text-transform: capitalize;
padding-top: 9px;
}
.img-order h3{
    font-weight: 500;
font-size: 36px;
text-align: center;
padding-top: 7px;
}
.img-order{
    width: 330px;
}
.img-order p{
    width: 227px;
    font-weight: 400;
font-size: 18px;
line-height: 21px;
text-align: center;
color: rgba(0, 0, 0, 0.5);
padding-top: 14px;
}
.s-text{
    display: flex;
    justify-content: center;
}
.img-delivery p{
    width: 237px;
    font-weight: 400;
font-size: 18px;
line-height: 21px;
text-align: center;
color: rgba(0, 0, 0, 0.5);
padding-top: 14px;
}
.img-delivery h3{
    font-weight: 500;
font-size: 36px;
text-align: center;
padding-top: 7px;
}
.img-delivery{
    width: 330px;
}
.img-qulity h3{
    font-weight: 500;
    font-size: 36px;
    text-align: center;
    padding-top: 7px;
}
.img-qulity p{
    width: 237px;
    font-weight: 400;
font-size: 18px;
line-height: 21px;
text-align: center;
color: rgba(0, 0, 0, 0.5);
padding-top: 14px;
}
.img-qulity{
    width: 330px;
}
.image-second-screen{
    width: 1440px;
}
.image-serve{
    @include flex();
}
.title-third-screen{
    width: 470px;
    font-weight: 700;
font-size: 48px;
}
.preview-third-screen{
    color: rgba(236, 96, 131, 1);
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    padding-top: 159px;
    padding-bottom: 14px;
}
.menu-third-screen{
    width: 1440px;
    margin: 0 auto;
}
.gg-chevron-left {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    border: 2px solid transparent;
    border-radius: 100px;
    background: rgba(207, 207, 207, 1);
    width: 55px;
    height: 55px;
    color: #000;
}
.gg-chevron-left::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid;
    border-left: 2px solid;
    transform: rotate(45deg);
    left: 24px;
    top: 21px;
}
.gg-chevron-right {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    border: 2px solid transparent;
    border-radius: 100px;
    background: rgba(207, 207, 207, 1);
    width: 55px;
    height: 55px;
    color: #000;
}
.gg-chevron-right::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid;
    border-right: 2px solid;
    transform: rotate(-45deg);
    left: 19px;
    top: 21px;
}
.gg-chevron-left:hover{
    background: #EC6083;
box-shadow: 0px 0px 20px #EC6083, 0px 0px 10px #EC6083;
}
.gg-chevron-right:hover{
    background: #EC6083;
box-shadow: 0px 0px 20px #EC6083, 0px 0px 10px #EC6083;
}

.switch {
    width: 120px;
    @include flex();
    padding-top: 40px
}
.switch-third-screen{
    @include flex();
}
.recept .recipe-text {
font-weight: 400;
font-size: 18px;
line-height: 21px;
text-align: center;
text-transform: capitalize;
color: rgba(0, 0, 0, 0.5);
width: 190px;
padding-top: 219px;
margin: 0 auto;
}
.recept{
height: 400px;
width: 350px;
border-radius: 60px;
background: linear-gradient(152.79deg, #E9F3FD 12.85%, #E8E8FF 49.53%, #E9F3FD 89.41%);
box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.15);
}
.price a {
    color: #fff;
    font-size: 42px;
    background: #212135;
    box-shadow: 0px 0px 20px #212135, 0px 0px 10px #212135;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    margin-right: 21px;
}
.price a:hover {
    background: #8181ac;
    box-shadow: 0px 0px 20px #6d4585, 0px 0px 10px #212135;
    
}
.price a img:hover{
    background-image: url(img/icons8-done-30.png);
}
.price .cash {
font-size: 36px;
font-weight: 700;
line-height: 42px;
padding-left: 80px;

}
.price {
    @include flex();
    padding-top: 22px;
}
.price a p {
    text-align: center;
    padding-top: 7px;
}
.classic-menu .baket{
    position: relative;
    top: 210px;
}
.recept-two{
    height: 400px;
    width: 350px;
    border-radius: 60px;
    background: linear-gradient(152.79deg, #E9F3FD 12.85%, #E8E8FF 49.53%, #E9F3FD 89.41%);
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.15);
    }
.recipe-text-two{
    font-weight: 400;
font-size: 18px;
line-height: 21px;
text-align: center;
text-transform: capitalize;
color: rgba(0, 0, 0, 0.5);
width: 257px;
padding-top: 219px;
margin: 0 auto;
}
.kfc-menu-add{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}
.baket-two{
    position: relative;
    top: 210px;
}
.baket-three{
    position: relative;
    top: 210px;
}
.classic-pepsi-menu{
    padding-left: 65px;
}
.classic-menu{
    padding-right: 65px;
    padding-left: 153px;
}
footer{
    width: 1440px;
    margin: 0 auto;
    display: flex;
}
.first-string{
    padding-top: 273px;
}
.first-string p {
    width: 260px;
    font-weight: 400;
font-size: 18px;
color: rgba(0, 0, 0, 0.5);
padding-top: 26px;
}
.icon-social-network{
    padding-top: 31px;
    padding-bottom: 62px;
}
.icon-social-network a {
    padding-right: 13px;
}
.second-string h4 {
    font-weight: 500;
font-size: 24px;
padding-bottom: 36px;
}
.second-string a {
    font-weight: 400;
font-size: 18px;
color: rgba(0, 0, 0, 0.5);
}
.second-string li {
   padding-top: 15px;
}
.all-scring{
    display: flex;
    justify-content: space-between;
    padding-top: 337px;
    padding-left: 160px;
    width: 1500px;
}
.third-string h4{
    font-weight: 500;
font-size: 24px;
padding-bottom: 36px;
}
.third-string a{
    font-weight: 400;
font-size: 18px;
color: rgba(0, 0, 0, 0.5);
}
.third-string li {
    padding-top: 15px;
}
.fourth-string h4{
    font-weight: 500;
    font-size: 24px;
    padding-bottom: 36px;
}
.fourth-string li{
    padding-top: 15px;
}

.fourth-string a{
    font-weight: 400;
font-size: 18px;
color: rgba(0, 0, 0, 0.5);
}
.fifth-string h4 {
    font-weight: 500;
    font-size: 24px;
    padding-bottom: 36px;
}
.fifth-string a{
    font-weight: 400;
font-size: 18px;
color: rgba(0, 0, 0, 0.5);
}
.fifth-string li {
    width: 229px;
}
input {
    background: #E9F3FD;
border: 1px solid rgba(0, 0, 0, 0.5);
border-radius: 40px;
padding-top: 15px;
padding-bottom: 15px;
padding-left: 28px;
font-weight: 400;
font-size: 18px;
color: rgba(0, 0, 0, 0.5);
margin-top: 36px;
}